.cadastro-container {
  height: calc(100vh - 3rem);
  padding-block: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.cadastro-container h2 {
  font-size: 40px;
  font-weight: 500;
  color: var(--p6);
}

.cadastro-container form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: column;
  gap: 1rem;
}

.cadastro-container div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cadastro-container label {
  color: var(--c70);
}

.cadastro-container input {
  background: white;
  box-shadow: var(--shadow3);
  height: 55px;
  width: 522px;
  border-radius: 15px;
  padding-inline: 20px;
  font-size: 1rem;
}

.cadastro-container input::placeholder {
  color: var(--c20);
}

.cadastro-container a {
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--c00);
  background: var(--p1);
  border-radius: 12px;
  box-shadow: var(--shadow1);
  padding-block: 0.5rem;
  padding-inline: 2rem;
}

.cadastro-container a:hover {
  background: var(--p3);
  transform: scale(1.01);
}
