.home {
  height: 100vh;
  margin: auto;
  padding-inline: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-block: 150px;
  height: 600px;
  width: 300px;
  border: 1px solid var(--p5);
  border-radius: 24px;
  box-shadow: var(--shadow1);
}

.wrapper a {
  cursor: pointer;
  font-size: 1.05rem;
  font-weight: 500;
  color: var(--c00);
  border-radius: 50px;
  background: var(--p4);
  padding-block: 0.5rem;
  padding-inline: 1rem;
  box-shadow: var(--shadow1);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.wrapper a:hover {
  background-color: var(--p5);
  transform: scale(1.01);
}

.wrapper img {
  height: 150px;
}

.home-img {
  height: 600px;
}
