.home {
  height: calc(100vh - 3rem);
  margin: auto;
  padding-inline: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-block: 150px;
  height: 600px;
  width: 300px;
  border: 1px solid var(--p1);
  border-radius: 24px;
  box-shadow: var(--shadow1);
}

.wrapper a {
  cursor: pointer;
  font-size: 1rem;
  color: var(--c00);
  border-radius: 50px;
  background: var(--p1);
  padding-block: 0.5rem;
  padding-inline: 1rem;
  box-shadow: var(--shadow1);
}

.wrapper a:hover {
  background-color: var(--p3);
  transform: scale(1.01);
}

.wrapper img {
  height: 150px;
}

.home-img {
  height: 600px;
}
