header {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  padding-inline: 2rem;
  padding-block: 1rem;
  height: 3rem;
  width: 100vw;
  background-color: var(--p1);
}

header img {
  width: 6rem;
}

.login {
  display: flex;
  align-items: center;
}

.login img {
  height: 20px;
}
